<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 三种XML的注入：https://www.cnblogs.com/wangmingshun/p/5674633.html -->
    <!-- 1. 加载配置文件 -->
    <context:property-placeholder location="jdbc.properties"/>
    <!-- 2. 配置DataSource -->
    <bean id="datasource" class="org.apache.ibatis.datasource.unpooled.UnpooledDataSource">
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="driver" value="${driver}"/>
    </bean>
    <!--
        3. 配置SqlSessionFactoryBean:
            SqlSessionFactoryBean内有非常多的配置，其中大部分配合和mybatis-config文件一样
            不过其中有几个需要特别说明一下：
            - configLocation:mybatis-config.xml的位置
            - configuration:configuration对象，在使用代码形式配置mybatis的时候介绍过这个类，
                            1.3.0版本之后mybatis为了方便开发着配置Settings标签内容，讲这个类开放。
                            理论上你可以就配置这个对象来使用mybatis即可。
            - environment：对应environment标签的id值
            - dataSource：这个属性没啥好说的
            - configurationProperties：对应mybatis-config中的properties标签
            - mapperLocations：对应Mappers标签，支持Ant风格匹配，理论上配置了这个就无需要配置MapperScannerConfigurer
            ================================
            特别注意configuration和configLocation只能二选一！！！！
    -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="cn.argentoaskia.bean"/>
        <property name="environment" value="dev"/>
        <property name="dataSource" ref="datasource"/>
        <property name="mapperLocations" value="classpath:cn/argentoaskia/dao/mappers/*.xml"/>
    </bean>
</beans>