<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 方法1：datasource + SqlSessionFactoryBean + MapperScannerConfigurer实现Autowired DAO接口 -->
    <!-- 先前的配置参考spring-dao.xml -->
    <!-- 先引入通用的配置容器 -->
    <import resource="spring-dao.xml"/>
    <!--
       4.mapperScannerConfigurer
       配置mapperScannerConfigurer的目的是为了能够直接注入DAO接口实现类，虽然理论上你可以直接通过
      ( (SqlSessionFactory)sqlSessionFactoryBean.getObject() ).openSession()的方式，像mybatis那样使用
      但正所谓，没有@Autowired的Spring是没有灵魂的，因此配置这个类。
      mapperScannerConfigurer实际上和MapperScan注解差不多！！
   -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
        <property name="basePackage" value="cn.argentoaskia.dao"/>
    </bean>
</beans>